**/.env
**/venv/
**/.venv/
**/env/
**/ENV/
**/__pycache__/
backend/.env
backend/venv/
backend/.venv/
backend/env/
backend/ENV/
backend/__pycache__/
backend/**/.env
backend/**/venv/
backend/**/.venv/
/**/*.py[cod]
/**/$py.class
/**/*.so
**/build/
**/dist/
**/*.egg-info/
**/*.egg

**/*.db
**/*.db3
**/Thumbs.db
**/.DS_Store

**/.vscode/
**/.idea/
.python-version